.landing-page {
  #mastodon-timeline {
    color: $text-color;

    .column-header {
      color: $accent-text-color;
    }

    p {
      color: $text-color;

      a {
        color: $text-color;
      }
    }
  }
}
