$text-color: #333;
$sub-text-color: #aaa;
$sub-text-color-strong: #777;
$border-color: #ddd;
$base-background-color: #eee;
$background-color: #fff;
$sub-background-color: #ddd;
$primary-accent-color: #52b03b;
$secondary-accent-color: #009af4;
$caret-color: #333;
$star-color: #ffbc00;
$retweet-color: #009af4;
$accent-background-color: #52b03b;
$accent-text-color: #fff;
$accent-sub-text-color: #fff;
$accent-border-color: #52b03b;

$box-background-color: $background-color;
$box-border-color: $border-color;

$accent-box-background-color: $primary-accent-color;
$accent-box-border-color: $primary-accent-color;
$accent-box-color: #fff;

$text-area-background-color: $background-color;
$text-area-border-color: $border-color;
$text-area-caret-color: $caret-color;
$text-area-color: $text-color;

@import 'application';
@import 'custom';
@import 'theme-base';

@import '../../../node_modules/highlight.js/styles/github';
