.account__header {
  .account__header__usernames {
    display: block;
    margin-bottom: 10px;
  }

  .account__header__username {
    display: inline;
  }

  .account__header__qiita--username:before {
    content: ' ';
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    background: url('../images/qiita-icon.png');
    background-size: 14px;
    margin: 0 2px;
  }

  .account__header__qiita--username a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

